/*주조색: #3cb149*/
/*보조1: #1d8844*/
/*보조2: #434748*/
/*텍스트: #333333*/

* {margin: 0; padding: 0; box-sizing: border-box; list-style: none;}
img {vertical-align: middle;}
.clearfix::after {display: block; content: ''; clear: both;}

html, body {font-size: 16px; color: #333;}
a:link, a:visited, a:active, a:hover {color: #434748; text-decoration: none;}


.wrapper {
	width: 1000px;
	height: 700px;
	margin: auto;
}

.header {
	height: 100px;
	position: relative;
}

.banner {
	height: 300px;
}

.content {
	height: 200px;
}

.footer {
	height: 100px
}

.logo {
	float: left;
}

.navi-wrap {
	float: right;
	position: relative;
}

.navi {
	float: left;
	width: 150px;
	height: 100px;
	line-height: 100px;
}

.sub-wrap {
	position: absolute;
	width: 100%;
	top: 100px;
	background-color: #1d8844;
	display: none;
}

.sub-wrap > div {width: 600px; float: right;}

.sub {
	float: left;
	width: 150px;
}
.sub li {
	padding: 12px;
	line-height: 1;
	color: #fff;
}

.sub li:hover {
	background-color: #3cb149;
}

.sub a:link {color: #fff;}

















